html,
body {
    padding: 0;
    margin: 0;
}

/* p {
    color: lightblue;
} */

/* div {
    width: 100px;
    height: 100px;
    background-color: #000000;
    position: absolute;
    left: 50%;
    transition: translateX(-100%);
} */